{% extends '@App/layout.html.twig' %}

{# 'AppBundle::layout.html.twig'  #}

{% block body %}
    <div class="alert alert-danger">Something went wrong {{ status_code }} {{ status_text }}</div>
{% endblock %}

{% block title %}Internal Error {{ status_code }}{% endblock %}

{% block stylesheets %}

{% endblock %}
