{% extends '@App/layout.html.twig' %}

{# 'AppBundle::layout.html.twig'  #}

{% block body %}
    <div class="alert alert-danger">404 Not Found</div>
{% endblock %}

{% block title %}404 Not Found{% endblock %}

{% block stylesheets %}

{% endblock %}
