{% extends '@App/layout.html.twig' %}

{% block body %}
    <h1>Product {{ product.title }}</h1>
    <hr>
    Title: {{ product.title }} <br>
    Price: {{ product.price }} <br>
    Description: {{ product.description }} <br>

{% endblock %}

{% block title %}{{ product.title }}{% endblock %}

{% block stylesheets %}

{% endblock %}
