{% extends '@App/layout_bootstrap_cdn.html.twig' %}

{% block body %}
    Hello world! {{ a }}

    <br>
    
    {% if not some_value %}
        {{ 'YES' }}
    {% endif %}

    {% for some_item in some_array %}
        {{ some_item }} &ntgl;
    {% endfor %}

    <br>

    {% for key, some_item in some_array %}
        {{ key }} - {{ some_item }} <br>
    {% endfor %}

    Содержимое было перенесено на 4 уроке.
    
{% endblock %}

{% block stylesheets %}

{% endblock %}
